
.card {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 18px;
}

.cardprime {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 0px;
}

#quiz-result {
  display: none;
  margin-bottom: 10px;

  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  color: #fff;
}

li {
  line-height: 30px;
  font-size: 14px;
}

input[type="text"]  {
  padding: 4px;
  font-size: 16px;

  margin: 10px;
}

.xemkq{
  margin-top: 10px;
  padding: 10px;

  cursor: pointer;

  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  color: #fff;

  background-color: #2196f3;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius:2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

 button.xemkq:hover {
  background-color: #1e88e5;
}

 button.xemkq:active {
  -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-size:1px;
}

input[type="radio"] + label span {
  background-color: #f1f1f1;
}

input[type="radio"]:checked + label span {
  background-color: #8f8;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #292321;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -0px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"] + label span {
  background-color: #f1f1f1;
}

input[type="checkbox"]:checked + label span {
  background-color: #8f8;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

b, h1, strong, h2, h3, h4 {
  color: firebrick;
}

.gallery {
    overflow: hidden;    
    margin-left: -2%;
    margin-right: -2%;
}

.gallery-item {
  color: #797478;
  float: left;
  width: 16%;
  margin: 2% 2% 50px 2%;
  text-decoration: none;
  overflow: hidden;        

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

}

.galleery-item a {
      text-decoration: none;
}

.gallery-item-inner:hover {
    color: firebrick;
    text-decoration: none;
    -webkit-filter: brightness(150%);
}

.gallery-item-inner {
    text-decoration: none;    
}

.gallery-item-name {
    text-transform: uppercase;
    height: 30px;
    font-weight: 400;
    color: #797478;
    font-size: 10px;
    line-height: 30px;
    overflow:hidden;
    
    margin-left: 5px;
    margin-right: 5px;

    font-weight: 500;
   
}

.gallery-item-image img {


}

.gallery-item:hover {
    overflow: hidden;    
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


/* MEDIA QUERIES*/

 
@media {
    .gallery-item {width: 29.33333%;}
}
 
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .gallery-item {width: 46%;}
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .gallery-item {width: 96%;}
    .gallery-item-image img {width: 96%;}
    .gallery-item-name {font-size: 18px;}
    .galleryItem p, {font-size: 18px;}
}

.cmtcount {
    float:right;
    z-index: 100;
    color: #bbb;
    font-size: 7px;
    overflow: hidden;
}
