
.card {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 18px;
}

.cardprime {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 0px;
}

#quiz-result {
  display: none;
  margin-bottom: 10px;

  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  color: #fff;
}

li {
      min-height: 30px;
      font-size: 14px;
}

input[type="text"]  {
  padding: 4px;
  font-size: 16px;

  margin: 10px;
}

.xemkq{
  margin-top: 10px;
  padding: 10px;

  cursor: pointer;

  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  color: #fff;

  background-color: #2196f3;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius:2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

 button.xemkq:hover {
  background-color: #1e88e5;
}

 button.xemkq:active {
  -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-size:1px;
}

input[type="radio"] + label span {
  background-color: #f1f1f1;
}

input[type="radio"]:checked + label span {
  background-color: #8f8;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #292321;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -0px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"] + label span {
  background-color: #f1f1f1;
}

input[type="checkbox"]:checked + label span {
  background-color: #8f8;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

b, h1, strong, h2, h3, h4 {
  color: firebrick;
}

.gallery {
    overflow: hidden;    
    margin-left: -2%;
    margin-right: -2%;
}

.gallery-item {
  color: #797478;
  float: left;
  width: 16%;
  margin: 2% 2% 20px 2%;
  text-decoration: none;
  overflow: hidden;        

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

}

.galleery-item a {
      text-decoration: none;
}

.gallery-item-inner:hover {
    color: firebrick;
    text-decoration: none;
}

.gallery-item-inner {
    text-decoration: none;    
}

.gallery-item-name {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    overflow:hidden;
    
    margin-left: 5px;
    margin-right: 5px;

    font-weight: 500;
   
}

.gallery-item-image img {
    display: block;
}

.gallery-item:hover {
    overflow: hidden; 
    color:firebrick;
}



/* MEDIA QUERIES*/

 
@media {
    .gallery-item {width: 29.33333%;}
}
 
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .gallery-item {width: 96%;}
    .gallery-item-image img {width: 96%;}
    .gallery-item-name {font-size: 18px;}
    .galleryItem p, {font-size: 18px;}
}

.cmtcount {
    float:right;
    z-index: 100;
    color: #bbb;
    font-size: 10px;
    overflow: hidden;
}
#hdvlplayer_caption {
    min-height: 64px;
    bottom: -20px;
}

#hdvlplayer_caption div {
    min-height: 64px;    
}

#hdvlplayer_caption span {
    margin-top: 10px;
    display: table-cell;
    vertical-align: middle;
}

.embed-container {
position: relative;
height: 0;
overflow: hidden;
background-color:black;
}

.ratio-16-9{
padding-bottom:56.25%; /* 9/16*100 */
}

.ratio-4-3{
padding-bottom:75%; /* 3/4*100 */
}

.ratio-1-1{
padding-bottom:100%; /* … */
}

.embed-container img{
position: absolute;
top: 0;
left: 0;
width:100%;
}

.others {
    padding: 7px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight:900;
}

#onext {
    float:right;
}

#preview {
    background-color: #efefef;
    border: 1px solid #dedede;
    filter: alpha(opacity=10);
    opacity: 0.1;    

  -webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
       -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
          transition: all 1.5s ease;

}

#preview:hover {
    background-color: #efefef;
    border: 1px solid #dedede;
    filter: alpha(opacity=100);
    opacity: 1.0;    
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

.fb_edge_comment_widget {
  display: none !important;
}

.responsive-container { position: relative; padding-bottom: 53.25%; padding-top: 30px; height: 0; overflow: hidden; }
.responsive-container, .responsive-container iframe { max-width: 1280px; max-height: 720px; }
.responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.post-content {
    font-family: 'school';
}

#preview {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

@font-face {
    font-family: 'school';
    src:     url('/assets/uncr8v.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'school';
    src:     url('/assets/uncb8v.ttf') format('truetype') ;
    font-weight: 600;
    font-style: bold;

}

@font-face {
    font-family: 'school';
    src:     url('/assets/uncri8v.ttf') format('truetype') ;
    font-weight: normal;
    font-style: italic;

}

